table{
    border-collapse:collapse; 
    margin:0 auto;
    margin-top: 8px;
}
td{
    border: 1px solid #bbb;
    text-align:center;
    line-height:20px;
    background:gray;
    width: 40px;
    height: 40px;
    
}
#timer{
    border:1px solid #111;
    text-align: center;
    line-height: 33px;
    /* 세로 정렬 */
    margin:-10px;  
    margin:0 auto;
    width:440px;
    height:30px;
    color:white;
    background-color:black;
    
}
td.opened{
    background:white;
}
td.flag{
    background: red;
}
td.question{
    background: orange;
}

.container{
    padding:10px 190px;
    text-align :center;
}
.location{
    width:108px;
    height:50px;
    margin-right: 2px;
    text-align: center;
}
#exec{
    width:80px;
    height:57px;
    margin:0 auto;
    background-color: black;
    color:white;
}